.blackBackground {
  background-color: #1B1B1D;
}

.highcharts-title {
  color: whitesmoke !important;
  fill: whitesmoke !important;
}

.stockTitle {
  color: whitesmoke;
  font-weight: 500;
}

.stockPrice {
  color: whitesmoke;
  font-weight: 30;
}

.navStyles {
  color: #FFFFFF;
}

.navbar-fixed {
  top: 0;
  z-index: 100;
  position: fixed;
  width: 100%;
}

.body_div {
	top: 0;
	position: relative;
}