.blackBackground {
  background-color: #1B1B1D;
}

.highcharts-title {
  color: whitesmoke !important;
  fill: whitesmoke !important;
}

.stockTitle {
  color: whitesmoke;
  font-weight: 500;
}

.stockPrice {
  color: whitesmoke;
  font-weight: 30;
}

.navStyles {
  color: #FFFFFF;
}