
.timeFrame {
  color: whitesmoke;
  font-size: 0.8em;
  margin-left: 1em;
  padding-bottom: 3px;
}

.selected {
  border-bottom: 10px solid #009ddb; 
}

.timeFrame:hover {
  color: #009ddb;
  cursor: pointer;
}